.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0.6em;
    padding-bottom: 3em;
    font-family: 'Roboto Slab', serif;
    line-height: 0.3em;
}

.hero h3{
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    font-weight: 700;
}

.hero span{
    font-size: 1rem;
    color: rgb(140, 138, 138);
    font-weight: 300;
}